footer.page-footer.light-blue.darken-1
  .footer-copyright
    .container
      small #{pckg.name} #{pckg.version}
      if (appdata.ui.github.enable && appdata.ui.github.repository)
        a.grey-text.text-lighten-4.right(href='https://github.com/#{appdata.ui.github.repository}') Fork me on Github