meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
link(type='text/css', rel='stylesheet', href='/assets/materialize/dist/css/materialize.min.css', media='screen,projection')
link(type='text/css', rel='stylesheet', href='/css/styles.css', media='screen,projection')
link(rel='shortcut icon', sizes='196x196', href='/img/icon/icon-196.png')
link(rel='shortcut icon', sizes='128x128', href='/img/icon-128.png')
link(rel='shortcut icon', sizes='96x96', href='/img/icon-96.png')
link(rel='shortcut icon', sizes='72x72', href='/img/icon-72.png')
link(rel='shortcut icon', sizes='48x48', href='/img/icon-48.png')
link(rel='shortcut icon', sizes='32x32', href='/img/icon-32.png')
link(rel='shortcut icon', sizes='16x16', href='/img/icon-16.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/icon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/icon-72.png')
link(rel='apple-touch-icon-precomposed', href='/img/icon-57.png')
meta(name='mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-capable' content='yes')