ul.right.hide-on-med-and-down
  li.donate: a.modal-trigger.yellow-text.darken-1(href='#donate') Love this tool?
  li: a(href='/stream') Stream
  li: a(href='/search') Search
  li: a.modal-trigger(href='#info') Info
  li: a(href='/logout') Logout
a.button-collapse(href='#', data-activates='nav-mobile')
  i.mdi-navigation-menu