script.
  var UILocale = {
      ias:{
          prevText: "#{__('Load previous items')}",
          nextText: "#{__('Load more items')}",
          noneLeft: "#{__('You reached the end of the internet!')}"
      }
  }