.section.no-pad-bot
  .row
    form.col.s12(action='/search', role='search')
      .row
        .col.s12
          .input-field.row.search-field
            .col.s9.m10
              input#search.validate(type='search', name='q', required, value=q, role='search')
              label(for='search') #{__('Search Terms')}
            .col.s3.m2
              button.waves-effect.waves-light.btn.right(type='submit', class=appdata.ui.theme.buttonColor) 
                i.mdi-action-search