extends _layout


block header
  title Recent | #{appdata.name}
  meta(name='description', content='#{package.description}')
  

block body
  .section.no-pad-bot
    h1.header.center Recent
    
  if appdata.ui.recent.style == 'list'
    include _parts/list/collection.jade
  else
    include _parts/list/cards.jade
            
            
  .row !{pager}
    