extends _layout

block header
  title Search
  meta(name='description', content='#{package.description}')
  
block body
  include _parts/search
              
  if result
    p Total results: #{result.total}
    if result.total > 0
      if appdata.ui.search.style == 'list'
        include _parts/list/collection.jade
      else
        include _parts/list/cards.jade
            
            
        .row !{pager}
            
            
              