extends _layout

block header
  title Search | #{appdata.name}
  
block body
  .section.no-pad-bot
    .row
      form.col.s12
        .row
          .input-field.col.s6.offset-s3
            input#search.validate(type='search', name='q', required, value=q)
            label(for='search') Search Terms
            button.waves-effect.waves-light.btn(type='submit') 
              i.mdi-action-search
              
  if hits.length
    ul.collection