extends _layout

block header
  title Search
  meta(name='description', content='#{package.description}')
  
block body
  include _parts/search
              
  if result
    p Total results: #{result.total}
    if result.total > 0
      ul.collection
        each row in result.hits
          if appdata.ui.recent.style == 'card'
            include _parts/item/card.jade
          else
            include _parts/item/list.jade
      div !{pager}
            
            
              