extends _layout


block header
  title #{title} | #{appdata.name}
  meta(name='description', content='#{package.description}')
  

block body
  if appdata.ui.recent.style == 'list'
    include _parts/list/collection.jade
  else
    include _parts/list/cards.jade
            
            
    .row !{pager}
    