.card .card-date {
	padding: 0 20px;
	line-height: 2;
}
.card .card-title {
    font-weight: 500;
}

.card .card-content .card-title {
	line-height: 30px;
}
.card .card-content img {
    display: none;
}
.card .card-image .card-title {
	text-shadow: 0 0 6px #888;
	background: rgba(64, 64, 64, .6);
	bottom: 6px;
}
.card .card-action .datasource-img {
	float: right;
}
.card .card-media {
    position: relative;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
} 
.card .card-media iframe,
.card .card-media object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
.card .card-media object embed {
    height: 100%;
    width: 100%;
}
.pagination {
	display: none;
}
.share-button {
	font-size: 20px;
}
#share-button.pinned {
    transform: translate(0,initial);
    transition: all .5s ease-out;
}
#share-button.unpinned {
    transform: translate(0,130px);
    transition: all .5s ease-in;
}
.share-content {
	font-size: 13px;
}

.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
@media only screen and (min-width: 992px) {
	nav .hide-on-med-and-down .donate {
		margin-right: 100px;
	}
}
.side-nav li a {
	line-height: 2.5;
}
.side-nav li.donate {
    margin-top: 50px;
}
li.donate a {
    font-weight: 500;	
}