extends _layout


block header
  title #{title} | #{appdata.name}
  meta(name='description', content='#{pckg.description}')
  

block body
  include _parts/search
  if appdata.ui.stream.style == 'list' || mode == 'list'
    include _parts/list/collection.jade
  else
    include _parts/list/cards.jade
            
            
  .row !{pager}
    